{% extends "base.html" %}

{% block start %}

<div class = "container mt-5">
  <h2>
    Hello
    {{request.user}}

  </h2>

  

    <form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">

      {% csrf_token %}

        <h2>Add Receipe </h2>
        <hr>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Receipe Name</label>
          <input name="receipe_name" required type="text" class="form-control">
          
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1"  class="form-label">Receipe Description</label>
          <textarea  class="form-control" name="receipe_description" required ></textarea>
        </div>


        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Receipe Image</label>
            <input name="receipe_image" type="file" class="form-control">
        </div>


        <button type="submit" class="btn btn-success">Add Receipe</button>
      </form>
      <hr>

      <div class="mt-5">
        <div class="mx-auto col-6">

          <form action="">

            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Search Receipe </label>
              <input name="search" type="text" class="form-control">

              
            </div>
              <button type="submit" class="btn btn-primary"> Search </button>
            </div>


          </form>
      </div>



      <!-- <br>
      <br>
      {{receipes}} -->

      <br>
      <br>

      <table class="table ">
        <thead>
          <tr>
            <th scope="col">S.No</th>
            <th scope="col">Receipe Name</th>
            <th scope="col">Receipe Description</th>
            <th scope="col">Image</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>





        <tbody>
          {% for receipe in receipes %}

          <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{receipe.receipe_name}}</td>
            <td>{{receipe.receipe_description}}</td>
            <td>
              <!-- {{receipe.receipe_image}} -->
              <img src="/media/{{receipe.receipe_image}}" style="height : 200px" >
            </td>
            <td>
              <a href="/delete_receipe/{{receipe.id}}" class="btn btn-danger m-2"> Delete</a>

              <a href="/update_receipe/{{receipe.id}}" class="btn btn-success"> Update </a>
            </td>
          </tr>

          {% endfor %}
        </tbody>
      </table>

</div>




{% endblock %}